html {
    box-sizing: border-box;
    background: yellow;
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
    font-size: 20px;
    font-weight: 200;
  }
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }
  body {
    margin: 0;
  }
  .photos {
    min-height: 100vh;
    overflow: hidden;
    display: flex;
  }
  .photo {
    color: rgb(8, 3, 75);
    background: #6b0f9c;
    box-shadow: inset 0 0 0 5px rgba(12, 21, 105, 0.1);
    flex: 1;
    text-align: center;
    align-items: center;
    font-size: 20px;
    background-size: cover;
    background-position: center;
    flex: 1;
    justify-content: center;
    display: flex;
    flex-direction: column;
    transition: font-size 0.7s cubic-bezier(0.61, -0.19, 0.7, -0.11),
      flex 0.7s cubic-bezier(0.61, -0.19, 0.7, -0.11), background 0.2s;
  }
  .three {
    background-image: url("./img/neha.jpg");
  }
  .one {
    background-image: url("./img/tat.jpg");
  }
  .five {
    background-image: url("./img/khatai.jpg");
  }
  .four {
    background-image: url("./img/nams.jpg");
  }
  .two {
    background-image: url("./img/nedu.jpg");
  }
  
  .photo > * {
    margin: 0;
    width: 100%;
    transition: transform 0.5s;
    flex: 1 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .photo > *:first-child {
    transform: translateY(-100%);
  }
  .photo.open-active > *:first-child {
    transform: translateY(0);
  }
  .photo > *:last-child {
    transform: translateY(100%);
  }
  .photo.open-active > *:last-child {
    transform: translateY(0);
  }
  
  .photo p {
    font-family: 'Pacifico', cursive;
    text-shadow: 0 0 4px rgb(54 211 38 / 72%), 0 0 14px rgb(231 20 109 / 75%);
    font-size: 2em;
  }
  .photo p:nth-child(2) {
    font-size: 3em;
  }
  
  .photo.open-active > *:nth-child(2) {
    display: none;
  }
  
  .photo.open {
    flex: 5;
    font-size: 40px;
  }
  
/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
  background: #1a1a1a; /* Dark grey color */
  padding: 0 0 30px 0;
  color: #eee;
  font-size: 14px;

}
#footer .footer-top {
  background:  #dbd834; 
  padding: 60px 0 30px 0;
}
#footer .footer-top .footer-info {
  margin-bottom: 30px;
}
#footer .footer-top  h2 {
    
  font-size: 34px;
  margin: 0 0 20px 0;
  padding: 2px 0 2px 0;
  line-height: 1;
  font-family: "Audiowide", sans-serif;
  color: white;
  font-weight: 400;
  
}
#footer .footer-top  h3 {
  font-size: 25px;
  margin: 0 0 20px 0;
  padding: 2px 0 2px 0;
  line-height: 1;
  font-family: "Audiowide", sans-serif;
  color: white;
  font-weight: 400;
  
}
#footer .footer-top .footer-info p {
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 0;
  font-family: 'Architects Daughter',sans-serif;
  color: white;
}

#footer .footer-top .social-links a {
    
  /* display: inline-flex; */
  justify-content: space-around;
  align-items: flex-end;
  border-radius: 50%;
  font-size: 18px;
  color: white;
  margin-right: 4px;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}

#footer .footer-top .social-links a:hover {
   
    background-color:#dbd834;
    color: black;
  
}


#footer .copyright {
  text-align: center;
  padding-top: 30px;
  font-size: 20px;
  color: #dbd834;
}

#footer .copyright .fa-spin{
  animation-duration: 25s;
}

/*--------------------------------------------------------------
# Back to top button
-------------------------------------------------------------*/
#btn-back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: none;
  font-size: 16px;
  padding: 5px;
  border-radius: 95%;
  background-image: linear-gradient(to right, rgb(225, 0, 255), rgb(221, 103, 7));
  
}
.btn-warning {

  color: #37db34;
  background-color:black ;
  border-color: black;
}